# Auth Service Configuration
SERVICE_NAME=auth-service
SERVICE_PORT=8001

# MongoDB - Auth Service Database
MONGO_URI=mongodb://root:root@localhost:27018
MONGO_DATABASE=auth_db

# JWT
JWT_SECRET=<JWT_SECRET>
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=30

# CORS
CORS_ORIGINS=http://localhost:5173,http://front-end:5173

# Google OAuth2
GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>

MAIL_USERNAME=<MAIL_USERNAME>
MAIL_PASSWORD=<MAIL_PASSWORD>