SERVICE_NAME=upload-service
SERVICE_PORT=8011
MONGO_URI=mongodb://root:root@localhost:27018
MONGO_DATABASE=upload_db
AUTH_SERVICE_URL=http://auth-service:8001
JWT_SECRET=your_jwt_secret_here
CORS_ORIGINS=http://localhost:5173,http://front-end:5173
INTERNAL_API_KEY=internal_api_key_123456

# Google Cloud Storage
GCS_BUCKET_NAME=<GCS_BUCKET_NAME>
GCS_PROJECT_ID=<GCS_PROJECT_ID>
GCS_CREDENTIALS_FILE=./secrets/gcs-key.json

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
